# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

  workflow_dispatch:

# https://stackoverflow.com/a/72408109/3443137
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-22.04
    timeout-minutes: 120
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.0
        with:
          node-version-file: '.nvmrc'

      - name: Reuse npm cache folder
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ~/.npm
            ./node_modules
          # invalidate cache when any package-lock.json changes
          key: ${{ runner.os }}-npm-test-x2-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-test-x2-

      - name: install npm dependencies
        run: |
          rm -f node_modules/__ngcc_entry_points__.json
          npm install --legacy-peer-deps --force
        
      - name: build
        run: npm run build

      - name: test:aws
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run test:aws

      # https://firebase.google.com/docs/emulator-suite/install_and_configure#integrate_with_your_ci_system
      - name: Reuse firebase emulators cache folder
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ~/.cache/firebase/emulators/
          # invalidate cache when config changes
          key: ${{ runner.os }}-npm-firebase-x1-${{ hashFiles('**/firebase.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-firebase-x1-

      - name: setup firebase emulator
        run: npm run server:firebase:setup

      - name: test:firebase
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run test:firebase

      - run: npm run measure:size
      - run: npm run aggregate-metrics

      - name: lint
        run: npm run lint


  test-some:
    runs-on: ubuntu-22.04
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v4
      - name: Setup Node.js environment
        uses: actions/setup-node@v4.0.0
        with:
          node-version-file: '.nvmrc'

      - name: Reuse npm cache folder
        uses: actions/cache@v3
        env:
          cache-name: cache-node-modules
        with:
          path: |
            ~/.npm
            ./node_modules
          # invalidate cache when any package-lock.json changes
          key: ${{ runner.os }}-npm-test-x2-${{ hashFiles('**/package.json') }}
          restore-keys: |
            ${{ runner.os }}-npm-test-x2-

      - name: install npm dependencies
        run: |
          rm -f node_modules/__ngcc_entry_points__.json
          npm install --legacy-peer-deps --force

      - name: test:pouchdb
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run test:pouchdb

      - name: test:rxdb-lokijs
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run test:rxdb-lokijs

      - name: test:rxdb-dexie
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run test:rxdb-dexie

      - name: test:watermelondb
        uses: GabrielBB/xvfb-action@v1
        with:
          run: npm run test:watermelondb
